  <div class="container">
    <div class="row">
      <div class="col d-flex title">
        <h1>Invoice</h1>
      </div>
    </div>
    <div class="row">
      <div class="col text-danger">
        <h3>Submitted on 01/01/2000</h3>
      </div>
    </div>
    <div class="row">
      <!-- -------------------col 1 -------------- -->
      <div class="col">
        <div class="row">
          <h4>Invoice for</h4>
        </div>
        <div class="row">
          <h5>John Doe</h5>
        </div>
        <div class="row">
          <h5>JD Corp.</h5>
        </div>
        <div class="row mt-3">
          <h5>Sumano street</h5>
        </div>
        <div class="row">
          <h5>Caloocan,Philippines,1483</h5>
        </div>
      </div>
      <!-- -------------------col 2 -------------- -->
      <div class="col">
        <div class="row">
          <h4>Payable to</h4>
        </div>
        <div class="row">
          <h5>James Bond</h5>
        </div>
        <div class="row mt-5">
          <h4>Project</h4>
        </div>
        <div class="row">
          <h5>Project Star Fall</h5>
        </div>
      </div>
      <!-- -------------------col 3 -------------- -->
      <div class="col">
        <div class="row">
          <h4>Invoice #</h4>
        </div>
        <div class="row">
          <h5>123456</h5>
        </div>
        <div class="row mt-5">
          <h4>Due date</h4>
        </div>
        <div class="row">
          <h5>1/3/2000</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5" style="height: 2px; width: 100%; background-color: rgba(0, 0, 0,0.3);"></div>

 <div class="container mt-4">
  <app-item-list></app-item-list>
 </div>

